body {
    background-color: rgb(200, 200, 200);
}

p {
    width: 500px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    font-family: Monospace;
    letter-spacing: 1px;
}

.para1 {
    background-color: rgb(168, 204, 168);
    color: rgb(23, 51, 26);
}

.para2 {
    background-color: rgb(234, 189, 234);
    color: rgb(64, 13, 76);
}

.para3 {
    background-color: rgb(161, 172, 238);
    color: rgb(38, 43, 60);
}

.para4 {
    color: rgb(94, 91, 17);
    background-color: rgb(208, 210, 166);
}

h2 {
    font-family: sans-serif;
    text-shadow: 2px -2px rgb(100, 100, 100);
    font-weight: bold;
    text-align: left;
}

img {
    width: 500px;
    height: 300px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    float: right;
}

aside {
    width: 50%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    font-family: sans-serif;
    letter-spacing: 1px;
}
